<div class="component-container">
  <button
    [class.bg-black]="(nextArtService.currentQueue$ | async) != 'movie'"
    [class.bg-violet]="(nextArtService.currentQueue$ | async) == 'movie'"
    (click)="switchQueue('movie')">
    Movies
  </button>
  <button
    [class.bg-black]="(nextArtService.currentQueue$ | async) != 'tvShow'"
    [class.bg-violet]="(nextArtService.currentQueue$ | async) == 'tvShow'"
    (click)="switchQueue('tvShow')">
    Tv Shows
  </button>
  <button
    [class.bg-black]="(nextArtService.currentQueue$ | async) != 'book'"
    [class.bg-violet]="(nextArtService.currentQueue$ | async) == 'book'"
    (click)="switchQueue('book')">
    Books
  </button>
  <button class="bg-red" (click)="nextArtService.next()">Next -></button>
</div>