<div class="component-container">
  <div class="cover-and-tags-container">
    <div class="cover-container">
      <img class="cover" src="{{(data$ | async)?.imageUrl}}" alt="{{(data$ | async)?.title}} cover" />

      <div class="stars-container">
        @for (n of (filledStarsArray$ | async); track $index) {
          <span class="icon-star bg-yellow"></span>
        }
        @for (n of (emptyStarsArray$ | async); track $index) {
          <span class="icon-star bg-gray"></span>
        }
      </div>
    </div>
    <div class="tags-container">
      <span class="ski-tag" *ngFor="let tag of (data$ | async)?.tags">{{tag | titlecase}}</span>
    </div>
  </div>

  <div class="readable-data-container">
    <div class="title-container">
      <h2>{{(data$ | async)?.title}}</h2>
    </div>

    <div class="authoring-container">
      <h3 class="author-and-year">
        {{(data$ | async)?.author || ''}}{{(data$ | async)?.author ? ',' : ''}}
        {{(data$ | async)?.year}}
      </h3>
    </div>
    <div class="description-container">
      <p>{{(data$ | async)?.description}}</p>
    </div>
  </div>
</div>